[Unit]
Description=Zebronics RGB Daemon
After=graphical-session.target

[Service]
Type=simple
ExecStart=/home/guruprasad/ZEB-RGBD/zeb-rgbd
Restart=always
RestartSec=2

[Install]
WantedBy=default.target